{% extends 'base.html' %}

{% block title%}Manual{% endblock title %}
{%load static %}
{% block body%}
<a href="remove_data" class="btn btn-white" type="submit">Remove</a>
<button type="submit" class="btn btn-white" onclick="showForm()">Manually Add Attendance</a>
<script>
    function showForm() {
        document.getElementById('newform').style.display = 'inline-block';
    }
</script>

        <div>
        <form method='POST' action="{% url 'manual' %}"id="newform" style="display: none;">
            {% csrf_token %}
            <div class="form-group">
                <label for="sr_no">Sr.No</label>
                <input type="text" class="form-control" id="sr_no" name="sr_no" placeholder="Enter Sr.No" style="margin-left:50px;">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"  style="margin-left:50px;">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" id="status" name="status" placeholder="Enter status"  style="margin-left:50px;">
                <button type="submit" class="btn btn-primary" style="background-color:#EE4266;">Submit</button>
            </div>
        </form>
       </div>

<a href="update" class="btn btn-white" type="submit">update Attendance</a>
<a href="dict_update" class="btn btn-white" type="submit">update dictionary</a>

<!--<a href="final_csv" class="btn btn-white" type="submit">Final CSV</a>-->
{% endblock body %}
https://mdbootstrap.com/docs/jquery/tables/editable/
